<div class="neworder">
<h1 style="color: #f68721;">Новый заказ</h1>
<div class="depot_form">
<fieldset> 
	<legend style="color: #c34b1c; font-size: 14pt;">Пожалуйста, укажите необходимые данные</legend>
		<%= render 'form' %>
	</fieldset>
</div>

<%= link_to 'Назад', orders_path %>
</div>